/* Error: Undefined variable.
 *   ,
 * 4 |     bottom: $botom;
 *   |             ^^^^^^
 *   '
 *   scss\_mixins.scss 4:13   position()
 *   scss\_general.scss 84:5  @import
 *   scss\main.scss 6:8       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 4 \2502      bottom: $botom;\d\a   \2502              ^^^^^^\a   \2575 \a   scss\\_mixins.scss 4:13   position()\a   scss\\_general.scss 84:5  @import\a   scss\\main.scss 6:8       root stylesheet";
}
