@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


h1 {
    text-align: center;
}

.tamLogo {
    width: 150px;

}

/* HEDER */
.estHed:hover {
    background-color: cadetblue;
    color: blue;
}

/* NAVBAR
.fondoImg{
    background-image: url(../img/familia.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

.logoInicio {
    width: 250px;
    height: 300;
}

.nav-link {
    font-size: 1rem;
    padding-right: 1rem;
}

h3 {
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 12px;
    margin-left: 15px;
}

.quienesSomos {
    text-align: center;
}

.img-fluid {
    width: 200px;
    position: center;
}
/* WHATSAPP */
.logoWhats {
    width: 100px;
    right: 20px;
    position: fixed;
    bottom: 20px;
}

/* CAROUSEL */
.imgCarousel {
    height: 550px;
    object-fit: cover;
}

.bioDet {
    border-style: double;
    color: blue;
}

.subTitulos {
    text-rendering: auto;
}

.textContact {
    font-family: "Roboto";
    font-size: 1rem;
    padding-right: 1rem;
}

/* servicios */
.fondoImg {
    background-image: url("../img/contrato\ de\ trabajo.jpg");
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* icono Instagram */
.logoIns {
    width: 50px;
    left: 0px;
    position: sticky;
    bottom: 20px;
}

/* icono Facebook */
.logoFace {
    width: 90px;
    left: 0px;
    position: sticky;
    bottom: 20px;
}

/* icono Mail */
.logoMail {
    width: 50px;
    left: 0px;
    */ position: sticky;
    bottom: 20px;
}

.botonRed {
    align-items: center;
    justify-content: center;
}

/* LETRA SERVICIOS  */
.letServ {
    font-size: 1rem;
}

/* CARD */
.card {
    margin: 0.5rem;
    text-align: center;
}

.cardImg {
    height: 150px;
    object-fit: cover;
}

/* FOOTER */
footer {
    background-color: cadetblue;
    color: black;

}

.caruImg {
    height: 100px;
    object-fit: cover;
}

/* BIOGRAFIA */
.estBio {
    width: 300px;

}