@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


h1{
text-align: center;
}

.tamLogo{
    width: 150px;
    
}

header{
    border-bottom: solid 2px blue;
}
.logoInicio{ 
    width: 250px;  
    height: 300;  
}

.nav-link{
    font-size: 1rem;
    padding-right: 1rem;
}
h3{
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 12px;
    margin-left: 15px;
}
.quienesSomos{
    text-align: center;
}

.img-fluid{
    width: 200px;
    position: center;
}
.logoWhats{
    width: 50px;
    right: 20px;
    position: fixed;
    bottom: 20px;
}

/* CAROUSEL */
.imgCarousel{
    height: 550px;
    object-fit: cover;
}

.bioDet{
    border-style: double; color: blue;
}

.subTitulos{
    text-rendering: auto; 
}

.textContact{
    font-family: "Roboto"; 
    font-size: 1rem;
    padding-right: 1rem;
}
/* servicios */
.fondoImg{
    background-image: url("../img/contrato\ de\ trabajo.jpg");
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
/* icono Instagram */
.logoIns{
    width: 50px;
    left: 100px;
    /* position: fixed; */
    bottom: 20px;
}
/* icono Facebook */
.logoFace{
    width: 100px;
    left: 0.5px;
    /* position: fixed; */
    bottom: 20px;
}
/* icono Mail */
.logoMail{
    width: 50px;
    left: 40px;
    /* position: fixed; */
    bottom: 20px;
}
/* LETRA SERVICIOS  */
.letServ{
    font-size: 1rem;
}
/* FAMILIA */
.famiLia{
    border-bottom: 5px;color: blue;
    font-size: 2rem;
}
/* LETRA LABORAL  */
.letLaboral{
    font-size: 1rem;
}
/* LABORAL */
.laboRal{
    border-bottom: 5px;color: blue;
    font-size: 2rem;
}
/* LETRA CIVIL  */
.letCivil{
    font-size: 1rem;
}
/* CIVIL */
.ciVil{
    border-bottom: 5px;color: blue;
    font-size: 2rem;
}
/* LETRA PENAL  */
.letPenal{
    font-size: 1rem;
}
/* PENAL */
.peNal{
    border-bottom: 5px;color: blue;
    font-size: 2rem;
}