@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

//CONTACTO
.textContact{
    //background-color: $black;
    font-size: $textLg;
    font-family: "Roboto";
    font-size: large;
    padding-right: $textLg;
    text-align: center;
       
}
//FORMULARIO
.form-label{
    font-size: $textLg;
    font-family: "Roboto";
    text-align: center;
}

.botonRed {
    align-items: center;
    justify-content: center;
}
.horAten{
    font-size: $textLg;
    text-align: center;
    font-size: large ;
}


