@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

//HEADER
header {
    border-bottom: solid 1px $color1;
    background-color: $color2;
}


//NAVBAR
#navbarNav {
    .estHed:hover {
        font-size: $textLg;
        background-color: $color2;
    }

    .nav-link {
        font-size: $textLg;
        padding-right: $textLg;
    }

    .tamLogo {
        width: 50px;

    }
}

//TITULO PRINCIPAL
.titPrin {
    font-size: 30px;
    text-align: center;
}

// CAROUSEL 
#carouselExample {

    .imgCarousel {
        height: 550px;
        object-fit: cover;
    }

}

//CARDS
.cardImg {
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}


.quienesSomos {
    text-align: center;
    font-size: $textLg;
    background-color: $color2;
}

.img-fluid {
    width: 200px;
    position: center;
}


// HEDER 
.estHed:hover {
    background-color: $color2;
    color: $color1;
}

.logoInicio {
    width: 250px;
    height: 300;
}

h3 {
    margin-top: $textMd;
    margin-right: $textLg;
    margin-bottom: $textLg;
    margin-left: $textLg;
}



.quienesSomos {
    text-align: center;
}

//FOOTER
footer {
    background-color: $color2;
    color: $black;
    text-align: justify;
    position: absolute;
    padding-left: 0;
    width: 100%;
    height: 400px;
    .footEr{
        position: center;
        text-align: center;

    }
    .logoRed{
        padding-left: 2px;
        border: 10px;
        width: 25px;
        height: 25px;

    }
    .bot404{
        bottom: ;
    }

}

// WHATSAPP 
.logoWhats {
    @include position(fixed, 20px, 20px, 50px)
}
.page404{
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    flex: 2;
    margin: 20px;
    min-width: 200px;
    margin-bottom: 0px;
}
.bot404{
    margin-bottom: $textMd;
    border-radius: 1px;
    text-align: center;
    background-color: $color2;

}