@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

// CARD 
.card {
    height: 400px;
    margin: 0.5rem;
    text-align: center;
    flex-grow: 1;
    .cardImg {
        height: 125px;
        object-fit: cover;
    }
    .btn{
        background-color: var(secondary);
        color: $color2;
        display: block;
        padding: 5px;
        text-decoration: none;
        margin-top: 5px;
        border-radius: 10px;
    }
}


//.contenedor{
//    width: 90%;
//    max-width: 200px;
//    margin: 0 auto;
//}

    
    



