@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/* servicios */
.fondoImg {
    background-image: url("../img/contrato\ de\ trabajo.jpg");
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.card{
    .card-title{
        font-size: $textLg;
    }
    .card-text{
        font-size: $textMd;
    }
}

